@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2&display=swap');
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css");

/* Corpo */

body {
    font-family: 'Baloo Da 2', cursive;
    background-color: rgb(107, 203, 228);
    font-size: 12pt;
    min-width: 28rem;
}


/* Cabeçalho, h1 */

header {
    font-size: 15pt;
    margin: 0;
    text-align: center;
    color: rgb(255, 255, 255);
}

section h1 {
    font-size: 20pt;
    text-align: center;
    color: #fff;
}


/* Seção que vai mostrar o raio insirido */

section {
    width: 30rem;
    height: 28rem;
    background-color: #5c8aee;
    margin: auto;
    padding: 1rem;
    text-align: center;
    box-shadow: .1rem .1rem #606060;
    position: relative;
}


/* Seção pro usuario copiar */

textarea {
    width: 18rem;
    height: 15rem;
}

div#compatibilidade {
    display: flex;
    justify-content: space-evenly;
    position: relative;
}

div#compatibilidade div label {
    display: inline-flex;
    color: #fff;
}

div#compatibilidade div label input {
    margin-left: 8px;
}

input[type=checkbox] {
    cursor: pointer;
    position: relative;
    height: 25px;
    width: 50px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    outline: none;
    background: #c9c9c9;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
}


/* A cor do botão quando ele for selecionado */

input:checked[type="checkbox"] {
    background: #32c873;
}


/* configurando o a bolinha quando nao tiver selecionado, content é importante */

input[type="checkbox"]::before {
    font-family: FontAwesome;
    padding-top: 3px;
    padding-left: 3px;
    font-size: 12pt;
    content: "\f00d";
    height: 20px;
    width: 20px;
    color: #c9c9c9;
    transform: scale(1.2);
    position: absolute;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    left: 1px;
    top: 1px;
    background: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    transition: .4s ease-out;
}

input:checked[type="checkbox"]::before {
    content: "\f00c";
    left: 29px;
    color: #32c873;
}


/* Tira as setas do input */

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}


/* Aonde o usuario vai digitar o raio */

section input {
    align-self: center;
}

input[type=number] {
    background-color: #ffffffcc;
    width: 3em;
    position: absolute;
    text-align: center;
    border-radius: 3px;
}


/* Tirando a seta do input */

input[type=number]::-webkit-inner-spin-button {
    appearance: none;
}


/* Raio superior esquerdo */

#seinput {
    left: -4rem;
    top: -1.5rem;
}


/* Raio superior direito */

#sdinput {
    right: -4rem;
    top: -1.5rem;
}


/* Raio inferior esquerdo */

#ieinput {
    left: -4rem;
    bottom: -1.5rem;
}


/* Raio inferior direito */

#idinput {
    right: -4rem;
    bottom: -1.5rem;
}


/* Formantando o button */

button[type=number] {
    width: 7em;
    height: 2.5rem;
    background-color: #cecece;
    border-radius: .3rem;
}

button>p {
    font-family: 'Baloo Da 2', cursive;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 0;
}

#botao {
    width: 6rem;
    height: 2.5rem;
    font-size: 13pt;
    cursor: pointer;
    border-radius: 0.4rem;
}

#botao:hover {
    opacity: 0.8;
}


/* 
.divanima {
    position: relative;
}

.paraTexto {
    animation: paragrafo;
    animation-duration: 1s;
}

@keyframes paragrafo {
    from {
        position: absolute;
        background-color: red;
        width: 100%;
        height: 0;
        top: 0;
        left: 0;
        transition: 5s ease-out;
    }
    50% {
        opacity: 0;
    }
    to {
        background-color: black;
        opacity: 1;
        height: 100px;
    }
} */