@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2&display=swap');

/* Corpo */

body {
    background-color: rgb(107, 203, 228);
    font: normal 15pt Arial;
    min-width: 28em;
}


/* Cabeçalho, h1 */

header {
    font-family: 'Baloo Da 2', cursive;
    text-align: center;
    font: normal 20pt;
    color: rgb(255, 255, 255);
}

section h1 {
    font-family: 'Baloo Da 2', cursive;
    text-align: center;
    font: normal 15pt;
    color: #fff;
}


/* Seção que vai mostrar o raio insirido */

section {
    width: 30rem;
    height: 25rem;
    background-color: #5c8aee;
    margin: auto;
    padding: 1rem;
    text-align: center;
    box-shadow: .1rem .1rem #606060;
    position: relative;
}


/* Seção pro usuario copiar */

textarea {
    width: 18rem;
    height: 15rem;
}


/* Tira as setas do input */

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}


/* Aonde o usuario vai digitar o raio */

section input {
    align-self: center;
}

input {
    background-color: #ffffffcc;
    width: 3em;
    position: absolute;
    text-align: center;
    border-radius: 3px;
}


/* Tirando a seta do input */

input[type=number]::-webkit-inner-spin-button {
    appearance: none;
}


/* Raio superior esquerdo */

#seinput {
    left: -4rem;
    top: -1.5rem;
}


/* Raio superior direito */

#sdinput {
    right: -4rem;
    top: -1.5rem;
}


/* Raio inferior esquerdo */

#ieinput {
    left: -4rem;
    bottom: -1.5rem;
}


/* Raio inferior direito */

#idinput {
    right: -4rem;
    bottom: -1.5rem;
}